@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

body {
  margin:0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header,
.inner-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.main-header-navigation,
.inner-header-navigation {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 83px;
  padding-top: 50px;
}

.main-header-list,
.inner-header-list,
.navigation-list-cart,
.main-header-slider {
  list-style: none;
}

.main-header-list,
.inner-header-list {
  width: 438px;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-list-cart {
  width: 115px;
  margin: 0;
  padding: 0;
}

.main-header-item,
.inner-header-item {
  margin-right: 46px;
}

.main-header-link,
.inner-header-link,
.navigation-link-cart {
  color: #000000;
}

.main-header-link:hover,
.inner-header-link:hover,
.navigation-link-cart:hover,
.main-header-link:focus,
.inner-header-link:focus,
.navigation-link-cart:focus  {
  color: #fb565a;
}

.main-header-link:active,
.inner-header-link:active,
.navigation-link-cart:active {
  color: #000000;
  opacity: 0.3;
}

.inner-header-logo:active {
  opacity: 0.3;
}

.main-header-slider {
  width: 376px;
  margin-top: 0;
  padding: 0;
}

.main-slider-item {
  margin-top: 0;
  padding-bottom: 95px;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
}

.slider-description,
.services-description,
.content-company-description,
.company-list-title,
.content-company-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  margin-bottom: 30px;
}

.slider-description {
  margin-bottom: 42px;
}

.slider-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 3px;
}

.slider-link:hover,
.slider-link:focus {
  background-color: #e74246;
}

.slider-link:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.main-services {
  padding-bottom: 80px;
}

.main-services-list,
.content-company-list,
.company-quality-list,
.brands-list,
.footer-social-list {
  list-style: none;
  padding: 0;
}

.main-services-logo {
  margin-bottom: 22px;
}

.main-services-list {
  display: flex;
  justify-content: space-between;
}

.main-services-item {
  width: 300px;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.services-description {
  margin: 0;
  margin-bottom: 50px;
}

.services-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 39px;
  border-radius: 3px;
}

.services-web {
  background-color: #fb565a;
}

.services-web:hover,
.services-web:focus {
  background-color: #e74246;
}

.services-web:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-app {
  background-color: #00ca74;
}

.services-app:hover,
.services-app:focus {
  background-color: #00bc6c;
}

.services-app:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.services-presentation {
  background-color: #efc84a;
}

.services-presentation:hover,
.services-presentation:focus {
  background-color: #eab534;
}

.services-presentation:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.main-content-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 40px;
}

.content-company-left {
  width: 650px;
  margin-top: 40px;
}

.content-company-right {
  width: 360px;
}

.company-quality-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.company-quality-item {
  margin-right: 25px;
}

.content-company-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  margin-bottom: 32px;
}

.content-company-list {
  margin: 0;
}

.content-company-description {
  margin: 0;
  margin-bottom: 45px;
}

.company-list-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}

.content-company-logo {
  margin-bottom: 40px;
}

.quality-list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 49px;
}

.quality-percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 35px;
}

.quality-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.brands-list {
  display: flex;
  justify-content: space-between;
}

.brands-logo {
  opacity: 0.2;
}

.brands-logo:hover {
  opacity: 1;
}

.brands-logo:active {
  opacity: 0.1;
}

.footer-map {
  position: relative;
}

.map-list {
  width: 271px;
  background-color: #ffffff;
  position: absolute;
  top: 54px;
  left: 140px;
  padding-left: 48px;
  padding-bottom: 65px;
}

.map-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 45px;
  margin-right: 75px;
  margin-bottom: 27px;
}

.map-list-address,
.map-address-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #666666;
  margin: 0;
}

.map-address-phone {
  margin: 0;
  margin-bottom: 35px;
}

.map-address {
  margin-bottom: 19px;
}

.map-link-writeus {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  padding: 15px 42px;
  border-radius: 3px;
}

.map-link-writeus:hover,
.map-link-writeus:focus {
  background-color: #e74246;
}

.map-link-writeus:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-discount {
  display: flex;
  flex-direction: row;
}

.footer-social-list {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-right: 139px;
}

.socila-link {
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color:#ffffff;
  background-color: #e1e1e1;
}

.socila-link:hover,
.socila-link:focus {
  background-color: #e74246;
}

.socila-link:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  fill-opacity: 0.3;
}

.wrapper-right-column {
  margin-top: 60px;
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
}

.description-discount {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  margin: 0;
}
